* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #8E8E8E;
    font-family: 'Press Start 2P';
    text-align: center;
    line-height: 1.5rem;
    cursor: none;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    background: black;
}

h1 {
    padding-top: 0.5rem;
    letter-spacing: 1rem;
    font-size: 1.2rem;
}

h2 {
    letter-spacing: 0.5em;
    font-size: 0.8rem;
}

p {
    font-size: 0.7rem;
    line-height: 1.2rem;
}

#game-canvas {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;   
    border: 0.5rem solid #8E8E8E;
    border-bottom: none;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

@media all and (max-width: 1024px) {
    #game-canvas {
        width: 90%;
    }
}